<div class="tab-pane fade in active" id="home-pills">
    <div class="page-content">
        <div class="row">
            <div class="space-6"></div>
            <div class="col-sm-6 col-sm-offset-1">
                <div id="login-box" class="login-box visible widget-box no-border">
                    <div class="widget-body">
                        <div class="widget-main">
                            <br/>
                            <form name="passForm" class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label class="col-sm-5 control-label no-padding-right" for="oldpassword">Old Password</label>
                                    <div class="col-sm-7">
                                         <span class="block input-icon input-icon-right">
                                             <input type="password" class="form-control" name = "oldpassword" placeholder="Enter Old Password" ng-model="passwordModel.oldpassword" required/>
                                                <small class="errorMessage" data-ng-show="passForm.oldpasswordModel.$dirty && passForm.oldpasswordModel.$invalid"> Enter passwordM.</small>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-5 control-label no-padding-right" for="password">New Password</label>
                                    <div class="col-sm-7">
                                         <span class="block input-icon input-icon-right">
                                             <input type="password" class="form-control" name = "password" placeholder="Enter New Password" ng-model="passwordModel.password" required/>
                                                <small class="errorMessage" data-ng-show="passForm.passwordModel.$dirty && passForm.passwordModel.$invalid"> Enter password.</small>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-5 control-label no-padding-right" for="password2">Confirm New Password</label>
                                    <div class="col-sm-7">
                                     <span class="block input-icon input-icon-right">
                                    <input type="password" class="form-control" name="password2" placeholder="Enter New Password Again" ng-model="passwordModel.password2" password-match="passwordModel.password" required/>
                                     <small class="errorMessage" data-ng-show="passForm.password2.$dirty && passForm.password2.$error.required"> Enter password again.</small>
                                      <small class="errorMessage" data-ng-show="passForm.password2.$dirty && passForm.password2.$error.passwordNoMatch && !passForm.password2.$error.required"> Password do not match.</small>
                                   </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span class="lbl col-sm-5"> </span>
                                    <div class="col-sm-7">
                                        <button ng-click="updatePass(passwordModel);"
                                                ng-disabled="passForm.$invalid"
                                                class="btn btn-primary">Update Data</button>
                                    </div>
                                </div>
                                </fieldset>

                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>